<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>listing</title>
</head>
<body>
    <h3>Specific Details</h3>
    <ul>
        <li>Title: <%= listing.title %></li>
        <li>Description: <%= listing.description %></li>
        <li>Photo: <%= listing.image %></li>
        <li>Price: &#2547; <%= listing.price.toLocaleString("en-BD") %></li>
        <li>Location: <%= listing.location %></li>
        <li>Country: <%= listing.country %></li>
        <br>
        <a href="/listing/<%= listing._id %>/edit">Edit this listing</a>
        <br><br>
        <form method="POST" action="/listing/<%= listing._id %>?_method=DELETE">
            <button>Delete this listing</button>
        </form>
    </ul>
</body>
</html>


